<div class="alert alert-danger" role="alert">
  <h1>Gestion Conge</h1>
  <p> Cette patie en cours de de Développement</p>
  <button type="button" class="btn btn-primary btn-lg btn-block">
    <a class="text-muted text-decoration-none" style="background-color: inherit"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour
    </a>
  </button>
</div>
